<header>
    <div class="container">
      <a routerLink="/" class="logo">Darbar - "The Urban Baithak"</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/profile">Profile</a>
          </li>

          <li class="menu-container">
            <a>Activity</a>
            <div class="menu">
              <a routerLink="/group">Groups</a>
              <a routerLink="/orders">Notifications</a>
            </div>
          </li>

          <li>
            <a routerLink="/home">Logout</a>
          </li>

        </ul>
      </nav>
    </div>
  </header>