/* Create a container for the posts */

.centered-text {
  text-align: center;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

  .group-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
    justify-content: center;
    
  }
  
  /* Style for each post card */
  .group-card {
    width: 300px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(8, 3, 3, 0.726);
    margin: 5px;
  }