<h2>All Posts</h2>

<!-- Replace mat-sidenav with mat-card -->
<mat-card class="sidebar">
  <ul>
    <li>
      <button (click)="gotoAddPost()">+ Add Post</button>
    </li>
  </ul>
</mat-card>

<div class="post-container">
  <!-- Use ngFor to loop through posts and display them in mat-cards -->
  <mat-card *ngFor="let post of posts" class="post-card">
    <p>{{ post.postDescription }}</p>
    <p>{{ post.postedBy }}</p>
    
  <mat-card-actions class="action">           
    <button mat-raised-button type="submit">❤️</button> 
    <p style="text-align: center; margin: 5px;"></p>
    <button mat-raised-button type="submit">💬 </button> 
    <p style="text-align: center; margin: 5px;"></p>
    <button mat-raised-button type="submit">📣</button> 
    <p style="text-align: center; margin: 5px;"></p>
    </mat-card-actions>
  </mat-card>
</div>

<h3>{{ name }}</h3>
