<div class="container">
  <form>
    <h1>My Profile</h1>
    <div class="profile-info" [formGroup]="myProfile">
      <div class="profile-picture">
        <img src="assets\Profie_image.jpg" alt="" class="image">
        <input type="file" accept="image/*">
      </div>
      <label for="name">First Name:</label>
      <input type="text" id="firstname" formControlName ="firstName" placeholder="Enter your name">
      <label for="name">Last Name:</label>
      <input type="text" id="lastname" formControlName ="lastName" placeholder="Enter your name">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName ="email" placeholder="Enter your email">
      <label for="Address">Contact:</label>
      <input type="text" id="contact" formControlName ="contact" placeholder="Enter your contact">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" id="dateOfBirth" formControlName ="dob">
      <label for="Address">Address Line 1:</label>
      <input type="text" id="address1" formControlName ="addressLine1" placeholder="Enter your address">
      <label for="Address">Address Line 2:</label>
      <input type="text" id="address2" formControlName ="addressLine2" placeholder="Enter your address">
      <label for=" city">City:</label>
      <input type="text" id="city" formControlName ="city" placeholder="Enter your City">
      <label for="name">State:</label>
      <input type="text" id="state" formControlName ="state" placeholder="Enter your State">
      <label for="name">Permanent City:</label>
      <input type="text" id="permanentcity" formControlName ="permanentCity" placeholder="Enter your Permanent City">
      <label for="name">Permanent State:</label>
      <input type="text" id="permanentstate" formControlName ="permanentState" placeholder="Enter your Permanent State">
      <button (click)="UpdateUser()">Update</button>
    </div>
  </form>
  </div>