<video autoplay loop muted class="video">
  <source src="assets/video.mp4" type="video/mp4">
</video>

<div class="box">
  <h2>Login</h2>
  <form [formGroup]="loginForm">

    <div class="inputBox">
      <input style="margin-bottom: .125rem;" matInput type="email" formControlName="Email" placeholder="UserEmail">
      <mat-hint style="color: red;"
              *ngIf="loginForm.get('Email')?.touched && loginForm.get('Email')?.errors?.['required']">
              Useremail is required
      </mat-hint>
    </div>

    <div class="inputBox">
      <input style="margin-bottom: .125rem;" matInput type="password" formControlName="Password" placeholder="Password">
      <mat-hint style="color: red; margin-bottom: -0.125rem;"
            *ngIf="loginForm.get('Password')?.touched && loginForm.get('Password')?.errors?.['required']">
            Password is required
          </mat-hint>      
    </div>

    <button (click)="onLogin()" mat-raised-button type="submit" style="margin-right: 10px;">Login</button>
    <button (click)="onRegistration()" mat-raised-button type="submit" >SignUp</button>   
       
  </form>
</div>

